.panel.panel-primary
  .panel-heading
    .panel-title      
      if(userId == null || userId == '') 
        b Sign in
      else
        b Account
  div.text-center
   if(userId == null || userId == '') 
     label=message
     form(method='post', action='/login')
       br
       | ユーザーID:
       input(type='text', name='userId')
       br
       | パスワード：
       input(type='password', name='password')
       br
       br
       button.btn.btn-primary(type='submit') ログイン
       br
       a(href="/createUser", target="_blank") 新規ユーザー登録 
   else  
     form(method='get', action='/logout')
       p #{userId}
       button.btn(type='submit') ログアウト
