.panel.panel-primary
  .panel-heading
    .panel-title      
      if(userId == null || userId == '') 
        b Sign in
      else
        b Account
  div.text-center
   if(userId == null || userId == '') 
     label=message
     form(method='post', action='/login')
       table
         tr
           td
             | ユーザーID:
             input(type='text', name='userId')
         tr
           td
             | パスワード：
             input(type='password', name='password')
         tr
           td.text-center
             br  
             button.btn.btn-primary(type='submit') ログイン
             br
             a(href="/createUser", target="_blank") 新規ユーザー登録 
   else  
     form(method='get', action='/logout')
       p #{userId}
       button.btn(type='submit') ログアウト
