h1 chat room
.row
  .col-sm-7
    .well
      form.form-horizontal(role='form')
        .form-group
          label.col-lg-2.control-label
            名前
          .col-lg-10
            input#name.form-control(type='text', size='10', value='nanashi')
        .form-group
          label.col-lg-2.control-label
            メッセージ
          .col-lg-10
            textarea#message.form-control(name='message', rows='3')
        .form-group
          .col-lg-offset-2.col-lg-10
            button#submit.btn.btn-success(type='button') メッセージを送信
ul#list(style='list-style: none')
  each val in messages
    if val
      li= val
