!!! 5
h1=title
br
form(method='post', action='/registerUser' )
  label
    | email:
    input(type='text',name='email',placeholder='test@gmail.com')
  br
  label 
    | password:
    input(type='password',name='password')
  br
  br
  input(type='submit', value='登録')
