!!! 5
h1=title
br
form(method='post', action='/register' )
  label
    | title:
  input(type='text',name='title')
  br
  label 
    | body:
    textarea(name='body', cols=80, rows=10)
  br
  br
  input(type='submit', value='作成')
